{:paths
 ["src/dev"
  "src/assets"
  "src/main"
  "src/test"
  "src/js"]

 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.23"}
    reagent/reagent      {:mvn/version "1.1.1"}}}}}